html {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 0 0 0 0;
}

#form-container {
    height: max-content;
    width: 35%;
    margin: 15% 0 0 32.5%;
    background-color: white;
}

#form {
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: #2B4D75;
}

.field {
    width: 100%;
    font-size: 200%;
    height: 30px;
    display: block;
    margin: 0 0 5% 0;
}

#logo {
    width: 90%;
    margin: 5% 3% 5% 3%
}

#submit {
    background-color: #C3375D;
    color: white
}